.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 40px;
  width: 30%;
  height: 100vh;
  border-right: 1px solid gray;
  background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.reset {
  width: 160px;
  height: 52px;
  background: #F0C551;
  color: #FFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reset:hover {
  transform: scale(1.1);
}

.right {
  margin-left: 40px;
  width: 976px;
  height: 504px;
}

.right img {
  width: 136px;
  height: 236px;
  margin: 0 15px 15px 0;
}

.right img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.right .congrats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  width: 500px;
  height: 500px;
}